<!-- Filtre -->
<h3>Filtres</h3>
<div class="filtres container-fluid">
	<div class="row">
		<div class="col-3">
			<input matInput [(ngModel)]="filtre.text" placeholder="Texte" (change)="listerLesEvenements()" />
		</div>
		<div class="col-3">
			<input matInput [(ngModel)]="filtre.details" placeholder="Détails" (change)="listerLesEvenements()" />
		</div>
		<div class="col-3">
			<mat-select [(ngModel)]="filtre.type" placeholder="Type d'évènement" (change)="listerLesEvenements()">
				<mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
			</mat-select>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<em class="fa fa-fast-backward" matTooltip="Reculer d'une semaine" (click)="changerDate(-7)"></em>
			<em class="fa fa-backward" matTooltip="Reculer d'une journée" (click)="changerDate(-1)"></em>

			<input [matDatepicker]="datepickerDebut" [(ngModel)]="filtre.startDate" name="dateDebut" placeholder="Date de debut" (change)="listerLesEvenements()"
			 (dateChange)="listerLesEvenements()">
			<mat-datepicker-toggle [for]="datepickerDebut"></mat-datepicker-toggle>
			<mat-datepicker #datepickerDebut></mat-datepicker>

			<input [matDatepicker]="datepickerFin" [(ngModel)]="filtre.endDate" name="dateFin" placeholder="Date de fin" (change)="listerLesEvenements()"
			 (dateChange)="listerLesEvenements()">
			<mat-datepicker-toggle [for]="datepickerFin"></mat-datepicker-toggle>
			<mat-datepicker #datepickerFin></mat-datepicker>

			<em class="fa fa-forward" matTooltip="Avancer d'une journée" (click)="changerDate(1)"></em>
			<em class="fa fa-fast-forward" matTooltip="Avancer d'une semaine" (click)="changerDate(7)"></em>
		</div>
	</div>
</div>

<!-- Liste  -->
<table>
	<thead>
		<tr>
			<th class="date" (click)="trier('debut')">
				<span>Début</span>
				<em class="fa fa-arrow-up" *ngIf="(filtreChamp == 'debut') && filtreOrdre"></em>
				<em class="fa fa-arrow-down" *ngIf="(filtreChamp == 'debut') && !filtreOrdre"></em>
			</th>
			<th class="date">Fin</th>
			<th (click)="trier('type')">
				<span>Type</span>
				<em class="fa fa-arrow-up" *ngIf="filtreChamp=='type' && filtreOrdre"></em>
				<em class="fa fa-arrow-down" *ngIf="filtreChamp=='type' && !filtreOrdre"></em>
			</th>
			<th (click)="trier('texte')">
				<span>Texte</span>
				<em class="fa fa-arrow-up" *ngIf="filtreChamp=='texte' && filtreOrdre"></em>
				<em class="fa fa-arrow-down" *ngIf="filtreChamp=='texte' && !filtreOrdre"></em>
			</th>
			<th (click)="trier('details')">
				<span>Détails</span>
				<em class="fa fa-arrow-up" *ngIf="filtreChamp=='details' && filtreOrdre"></em>
				<em class="fa fa-arrow-down" *ngIf="filtreChamp=='details' && !filtreOrdre"></em>
			</th>
			<th class="actions">
				<em class="fa fa-plus" matTooltip="Ajouter un évènement" (click)="creer()"></em>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngIf="evenementAjoute">
			<td>
				<input matInput [(ngModel)]="evenementAjoute.start_date" />
			</td>
			<td>
				<input matInput [(ngModel)]="evenementAjoute.end_date" />
			</td>
			<td>
				<mat-select [(ngModel)]="evenementAjoute.type">
					<mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
				</mat-select>
			</td>
			<td>
				<input matInput [(ngModel)]="evenementAjoute.text" />
			</td>
			<td>
				<input matInput [(ngModel)]="evenementAjoute.details" />
			</td>
			<td>
				<em class="fa fa-check" matTooltip="Insérer l'évènement" (click)="inserer()"></em>
			</td>
		</tr>
		<tr *ngFor="let evenement of evenements; let j = index" [class]="j%2==0 ? 'even' : 'odd'">
			<td>
				<span>{{evenement.startDate | date:'EEEE dd/MM/yyyy HH:mm'}}</span>
				<input *ngIf="(evenement == evenementSelectionne)" matInput [(ngModel)]="evenementSelectionneStartDate" />
			</td>
			<td>
				<span>{{evenement.endDate | date:'EEEE dd/MM/yyyy HH:mm'}}</span>
				<input *ngIf="(evenement == evenementSelectionne)" matInput [(ngModel)]="evenementSelectionneEndDate" />
			</td>
			<td>
				<span *ngIf="!(evenement == evenementSelectionne)">{{evenement.type}}</span>
				<mat-select *ngIf="(evenement == evenementSelectionne)" [(ngModel)]="evenement.type">
					<mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
				</mat-select>
			</td>
			<td>
				<span *ngIf="!(evenement == evenementSelectionne)">{{evenement.text}}</span>
				<input *ngIf="(evenement == evenementSelectionne)" matInput [(ngModel)]="evenement.text" />
			</td>
			<td>
				<span *ngIf="!(evenement == evenementSelectionne)">{{evenement.details}}</span>
				<input *ngIf="(evenement == evenementSelectionne)" matInput [(ngModel)]="evenement.details" />
			</td>
			<td>
				<em *ngIf="!(evenement == evenementSelectionne)" class="fa fa-copy" matTooltip="Editer l'évènement" (click)="editer(evenement)"></em>
				<em *ngIf="evenement.type != 'maj'" class="fa fa-remove" matTooltip="Supprimer l'évènement" (click)="supprimer(evenement)"></em>
				<em *ngIf="evenement.type != 'maj'" class="fa fa-calendar-plus-o" matTooltip="Dupliquer à J+7" (click)="dupliquerEvenementRecurent(evenement, 7)"></em>

				<em *ngIf="evenement.modifie == true" class="fa fa-star" matTooltip="L'évènement a été modifié/créé"></em>
			</td>
		</tr>
	</tbody>
</table>