mat-select { margin: 10px 0px; }

tr.even { background-color: aliceblue; }
tr.odd { background-color: bisque; }
td { padding: 0px 5px; }
th.actions { width: 60px; }
th.date { width: 180px; }

.filtres { margin-bottom: 30px; }
.fa-star{ color:red; }