<!-- Filtre -->
<h3>Filtres</h3>
<div class="container-fluid">
	<div class="row">
		<div class="col-3">
			<input matInput [(ngModel)]="filtre.text" placeholder="Texte" />
		</div>
		<div class="col-3">
			<input matInput [(ngModel)]="filtre.details" placeholder="Détails" />
		</div>
		<div class="col-3">
			<mat-select [(ngModel)]="filtre.type" placeholder="Type d'évènement">
				<mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
			</mat-select>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<em class="fa fa-fast-backward" matTooltip="Reculer d'une semaine" (click)="changeDate(-7)"></em>
			<em class="fa fa-backward" matTooltip="Reculer d'une journée" (click)="changeDate(-1)"></em>

			<input [matDatepicker]="datepickerDebut" [(ngModel)]="filtre.startDate" name="dateDebut" placeholder="Date de debut">
			<mat-datepicker-toggle [for]="datepickerDebut"></mat-datepicker-toggle>
			<mat-datepicker #datepickerDebut></mat-datepicker>

			<input [matDatepicker]="datepickerFin" [(ngModel)]="filtre.endDate" name="dateFin" placeholder="Date de fin">
			<mat-datepicker-toggle [for]="datepickerFin"></mat-datepicker-toggle>
			<mat-datepicker #datepickerFin></mat-datepicker>

			<em class="fa fa-forward" matTooltip="Avancer d'une journée" (click)="changeDate(1)"></em>
			<em class="fa fa-fast-forward" matTooltip="Avancer d'une semaine" (click)="changeDate(7)"></em>
		</div>
	</div>
</div>

<!-- Liste  -->
<table>
	<thead>
		<tr>
			<th>Début</th>
			<th>endDate</th>
			<th>Type</th>
			<th>Texte</th>
			<th>Détails</th>
			<th>
				<em class="fa fa-plus" matTooltip="Ajouter un évènement" (click)="ajouter()"></em>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let evenement of evenements; let j = index" (click)="editer(evenement);" [class]="j%2==0 ? 'even' : 'odd'">
			<td>
				<span *ngIf="!(evenement == evenementSelectionne)">{{evenement.startDate | date:'EEEE dd/MM/yyyy HH:mm'}}</span>
				<input *ngIf="(evenement == evenementSelectionne)" matInput [(ngModel)]="evenement.startDate" />
			</td>
			<td>
				<span *ngIf="!(evenement == evenementSelectionne && evenement.type != 'maj')">{{evenement.endDate | date:'EEEE dd/MM/yyyy HH:mm'}}</span>
				<input *ngIf="(evenement == evenementSelectionne && evenement.type != 'maj')" matInput [(ngModel)]="evenement.endDate" />
			</td>
			<td>
				<span *ngIf="!(evenement == evenementSelectionne && evenement.type != 'maj')">{{evenement.type}}</span>
				<mat-select *ngIf="(evenement == evenementSelectionne && evenement.type != 'maj')" [(ngModel)]="evenement.type">
					<mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
				</mat-select>
			</td>
			<td>
				<span *ngIf="!(evenement == evenementSelectionne && evenement.type != 'maj')">{{evenement.text}}</span>
				<input *ngIf="(evenement == evenementSelectionne && evenement.type != 'maj')" matInput [(ngModel)]="evenement.text" />
			</td>
			<td>
				<span *ngIf="!(evenement == evenementSelectionne && evenement.type != 'maj')">{{evenement.details}}</span>
				<input *ngIf="(evenement == evenementSelectionne && evenement.type != 'maj')" matInput [(ngModel)]="evenement.details" />
			</td>
			<td>
				<em *ngIf="!(evenement == evenementSelectionne && evenement.type != 'maj')" class="fa fa-copy" matTooltip="Editer l'évènement"
				 (click)="editer(evenement)"></em>
				<em class="fa fa-remove" matTooltip="Supprimer l'évènement" (click)="supprimer(evenement)"></em>
			</td>
		</tr>
	</tbody>
</table>